{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Мои отклики</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
            <div class="card border-primary shadow-sm h-100">
                <div class="card-body p-4">
                    {% if responses %}
                        <h3 class="text-primary mb-3">Список откликов</h3>
                        {% for response in responses %}
                            <div class="card mb-3 response-card">
                                <div class="card-body">
                                    {% if response.job %}
                                        <p><strong>Работа:</strong> <a href="/jobs/{{ response.job_id }}">{{ response.job.title }}</a></p>
                                    {% else %}
                                        <p class="text-danger" style="font-size: 1.2rem"><strong>Работа была удалена</strong></p>
                                    {% endif %}
                                    <p><strong>Комментарий:</strong> {{ response.comment }}</p>
                                    <p><strong>Предлагаемая цена:</strong> {{ response.price }} ₽</p>
                                    <p><strong>Дата отклика:</strong> {{ response.created_date.strftime('%Y-%m-%d %H:%M') }}</p>
                                    <p>
                                        <strong>Состояние:</strong>
                                        {% if response.job.executor_id == current_user.id %}
                                        Принят <p><strong>Связь:</strong> {{ response.job.contact }}</p>
                                        {% elif response.job %}
                                        Без ответа
                                        {% else %}
                                        Неизвестно
                                        {% endif %}
                                    </p>
                                <a href="/my/responses/delete/{{ response.id }}" class="btn btn-outline-danger btn-sm mr-2">Удалить</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-muted">На эту работу пока нет откликов.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}