{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
            <div class="card border-primary shadow-sm h-100">
                <div class="card-body p-4">
                    <!-- Название -->
                    <div class="mb-4">
                        <h5 class="text-primary">Работа</h5>
                        <p class="card-text">{{ item.title }}</p>
                    </div>

                    <!-- Описание -->
                    <div class="mb-4">
                        <h5 class="text-primary">Описание</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>

                    <!-- Категория -->
                    <div class="mb-4">
                        <h5 class="text-primary">Категория</h5>
                        <p class="card-text">{{ categories[item.category] }}</p>
                    </div>

                    <!-- Стоимость -->
                    <div class="mb-4">
                        <h5 class="text-primary">Рекомендуемая стоимость</h5>
                        <p class="card-text">{{ item.price }} ₽ ≈ {{ other_prices }}</p>
                    </div>

                    <!-- Статус -->
                    <div class="mb-4">
                        <h5 class="text-primary">Статус</h5>
                        <span class="badge bg-light text-primary fw-semibold px-2 py-1">
                            {% if item.status == "Открыт" %}
                                🟢 Открыт
                            {% elif item.status == "В работе" %}
                                🟡 В работе
                            {% elif item.status == "Завершён" %}
                                🔴 Завершён
                            {% else %}
                                ⚪ Неизвестно
                            {% endif %}
                        </span>
                    </div>

                    <!-- Дата создания -->
                    <div class="mb-4">
                        <h5 class="text-primary">Дата создания</h5>
                        <p class="card-text">{{ item.created_date.strftime('%Y-%m-%d %H:%M') }}</p>
                    </div>

                    <!-- Автор -->
                    <div class="mb-4">
                        <h5 class="text-primary">Автор</h5>
                        <a href="/profile/{{ item.author_id }}" class="card-text">{{ item.author.username }}</a>
                    </div>

                    <div class="d-flex gap-2">
                        {% if current_user == item.author or current_user.role >= 2 %}
                            <div class="d-flex gap-2">
                                {% if current_user == item.author %}
                                    {% if item.status == "В работе"%}
                                        <a href="/jobs/complete/{{ item.id }}" class="btn btn-success mr-2">Отметить завершённой</a>
                                    {% elif item.status == "Завершён" and not item.reviews %}
                                        <a href="/reviews/add/{{ item.id }}" class="btn btn-success mr-2">Оставить отзыв</a>
                                    {% elif item.status == "Завершён" and item.reviews %}
                                        <a href="/profile/{{ item.executor_id }}" class="btn btn-success mr-2">Посмотреть отзыв</a>
                                    {% endif %}
                                {% endif %}
                                <a href="/jobs/{{ item.id }}" class="btn btn-outline-primary mr-2">Посмотреть</a>
                                {% if item.status == "Открыт" and current_user.role >= 2 and current_user != item.author %}
                                    <a href="/jobs/answer/{{ item.id }}" class="btn btn-outline-info mr-2">Откликнуться</a>
                                {% endif %}
                                <a href="/jobs/responses/{{ item.id }}" class="btn btn-outline-info mr-2">Посмотреть отклики</a>
                                {% if item.status != "Завершён" or current_user.role >= 3 %}
                                <a href="/jobs/edit/{{ item.id }}" class="btn btn-outline-warning mr-2">Изменить</a>
                                <a href="/jobs/delete/{{ item.id }}" class="btn btn-outline-danger mr-2">Удалить</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="d-flex gap-2">
                                <a href="/jobs/{{ item.id }}" class="btn btn-outline-primary mr-2">Посмотреть</a>
                                {% if item.status == "Открыт" %}
                                    <a href="/jobs/answer/{{ item.id }}" class="btn btn-outline-info mr-2">Откликнуться</a>
                                {% endif %}
                            </div>
                        {% endif %}

                        <!-- Кнопка возврата -->
                        <div class="">
                            <a href="/" class="btn btn-secondary mr-2">Назад к списку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}